<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housing Prices</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="../static/app.js"></script> 
    <link rel="stylesheet" type="text/css" href="../static/style.css"> 
</head>

<body style="background-color: rgb(164, 188, 231);">

    

    <div class="header_style" style="text-align: center; background-color: rgb(255, 255, 255);">
        <h1>Housing Sale Prices Predictions</h1>
        <p>Welcome to the Visualizations tab</p>
    </div>

    <nav class="navbar navbar-light bg-light rounded-3 border border-2 border-secondary">
        <form class="container-fluid justify-content-center gap-4" style="margin-bottom: 1px;">
            <a href="/" class="btn btn-info me-2" role="button">Home</a>
            <a href="/visualizations" class="btn btn-info me-2" role="button">Visualizations</a>
            <a href="/modeling" class="btn btn-info me-2" role="button">Model</a>
        </form>
    </nav>

    <div class="container">
        <div class="card row" style="margin-bottom: 15px;">
            <div class="card-body">
                <h2 class="card-title">Summary Of the Features and correlations with the sale price</h2>
                <p class="card-text">Insert Text</p>
            </div>
            <img src="/images/Dashboard_HousePricePrediction.png" class="card-img-top">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col-8">
                <div class="card-body">
                    <h2 class="card-title">Summary Of the Features and correlations with the sale price</h2>
                    <p class="card-text">Insert Text</p>
                </div>
                <img src="/images/Garage_SalePrice.png" class="card-img-top">
            </div>
        </div>
    </div>
</body>

</html>